.infinite-scroll-container {
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
  border: 1px solid rgba(174, 228, 255, 0.3);
  padding: 10px;
}

.infinite-scroll-content {
  display: flex;
  animation: scroll-left 10s linear infinite;
}

.icecream-image {
  width: 100px;
  margin-right: 10px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
