/* VAMPIRE WARS Font */
@font-face {
  font-family: "VAMPIRE WARS";
  src: url("./assets/fonts/vampire-wars.woff2") format("woff2"),
       url("./assets/fonts/vampire-wars.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ICE KINGDOM Font */
@font-face {
  font-family: "ICE KINGDOM";
  src: url("./assets/fonts/ice-kingdom.woff2") format("woff2"),
       url("./assets/fonts/ice-kingdom.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
